/* Section info en colonnes */
.info-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  min-width: 300px; /* pour rester responsive */
}

.column h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.column p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.column ul {
  list-style-type: disc;
  padding-left: 20px;
}

.column a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.column a:hover {
  color: #555;
}
